.git
.DS_Store
storage/tmp/*
!storage/tmp/.gitkeep
!storage/tmp/.htaccess
storage/backups/*
!storage/backups/.gitkeep
!storage/backups/.htaccess
public/assets/uploads/*
!public/assets/uploads/.gitkeep
!public/assets/uploads/.htaccess
config/config.php
scripts/deploy.env
vendor
