/\.DS_Store
**/.DS_Store
/config/config.php
/vendor/
/public/assets/uploads/*
!/public/assets/uploads/.htaccess
!/public/assets/uploads/.gitkeep
/assets/uploads/*
!/assets/uploads/.htaccess
!/assets/uploads/.gitkeep
/storage/tmp/*
!/storage/tmp/.htaccess
!/storage/tmp/.gitkeep
